{% set currentPage = "copyright" %}
{% extends "./templates/base.njk" %}
{% block subheader %}
    <h2 class="cinzel">Copyright Notices</h2>
{% endblock %}
{% block content %}
    <!-- Main body content-->
    <div id="content">
        <p class="center-content">Marble Background Image:
            <a href="https://www.myfreetextures.com/seamless-light-brown-marble-texture-image/">
                https://www.myfreetextures.com/seamless-light-brown-marble-texture-image/</a>
        </p>
    </div>
{% endblock %}