{% extends "./templates/base.njk" %}
{% block content %}
    <!-- Heading -->
    <div id="header" class="center-content">
        <h1>CHAOS</h1>
        <h2>Microsoft Intern Game Summer 2023</h2>
        <h2 class="cinzel">Copyright Notices</h2>
    </div>
    <!-- Main body content-->
    <div id="content">
        <p class="center-content">Marble Background Image:
            <a href="https://www.myfreetextures.com/seamless-light-brown-marble-texture-image/">
            https://www.myfreetextures.com/seamless-light-brown-marble-texture-image/</a>
        </p>
    </div>
{% endblock %}