{% set currentPage = "puzzles" %}
{% extends "./templates/base.njk" %}
{% block subheader %}
<h2 class="cinzel">Puzzles</h2>
{% endblock %}
{% block content %}
<div id="content">
    <p>These puzzles are available to anyone, and you can solve them by yourself or with friends. You don't have to
        solve
        puzzles to participate in the full event, but we highly recommend it. These puzzles were made for a reason.
        <b>New puzzles will drop every week until the even on July 29, 2023.</b>
    </p>
    <div class="puzzle-group">
        {% macro puzzle(title, icon, solved) %}
        <div class="puzzle-item">
            <div class="puzzle-icon"><img src="./assets/{{ icon }}" />
            </div>
            <div class="puzzle-title">{{ title }}</div>
            <div class="puzzle-status">
                <input type="checkbox" onclick="return false" {% if solved %} checked {% endif %} title="Solved">
            </div>
        </div>
        {% endmacro %}
        {{ puzzle('To hell and back', 'icon.png', true) }}
        {{ puzzle('Sisyphisean Task', 'icon.png', false) }}
        {{ puzzle('To hell and back', 'icon.png', true) }}
        {{ puzzle('Sisyphisean Task', 'icon.png', false) }}
        {{ puzzle('To hell and back', 'icon.png', true) }}
        {{ puzzle('Sisyphisean Task', 'icon.png', false) }}
        {{ puzzle('To hell and back', 'icon.png', true) }}
        {{ puzzle('Sisyphisean Task', 'icon.png', false) }}
        {{ puzzle('To hell and back', 'icon.png', true) }}
        {{ puzzle('Sisyphisean Task', 'icon.png', false) }}
    </div>
</div>
{% endblock %}