<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="./css/main.css"/>
        <title>Microsoft Intern Game: CHAOS</title>
    </head>
    <body>
        <div id="wrapper">
            {% block content %}
                This is the default content
            {% endblock %}
            <!-- Background greek columns art-->
            <div id="col-left" class="col-group">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div id="col-right" class="col-group">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div id="space-left"></div>
            <div id="space-right"></div>
            <div id="footer" class="center-content">
                <a href="/contact">Contact Us</a>
                |
                <a href="/tou">Terms of Use</a>
                |
                <a href="/copyright">Copyright</a>
            </div>
            <div id="sidebar">
                <div class="inner">
                    <nav id="menu">
                        <div class="menu-item menu-selected">
                            <a href="index.html">Home</a>
                        </div>
                        <div class="menu-item">
                            <a href="puzzles.html">Puzzles</a>
                        </div>
                        <div class="menu-item">
                            <a href="apply.html">Apply</a>
                        </div>
                        <div class="menu-item">
                            <a href="what-is-this.html">What is this?</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>