<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="./css/main.css"/>
        <title>MSIG: PANTHEON</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header" class="center-content">
                <h1>PANTHEON</h1>
                <h2>Microsoft Intern Game Summer 2023
                </h2>
                {% block subheader %}{% endblock %}
            </div>
            <!-- Main body content-->
            {% block content %}
                This is the default content
            {% endblock %}
            <!-- Background greek columns art-->
            <div id="col-left" class="col-group">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div id="col-right" class="col-group">
                <div class="top"></div>
                <div class="mid"></div>
                <div class="bot"></div>
            </div>
            <div id="space-left"></div>
            <div id="space-right"></div>
            <div id="sidebar">
                <div class="inner">
                    <nav id="menu">
                        {% macro menuItem(title, url) %}
                            {% set slug = title|lower|replace(' ', '-')|replace('?','') %}
                            <div class="menu-item {% if currentPage == slug %}menu-selected{% endif %}">
                                <a href="{{ url }}">{{ title }}</a>
                            </div>
                        {% endmacro %}
                        {{ menuItem('Home','index.html') }}
                        {{ menuItem('Puzzles','puzzles.html') }}
                        {{ menuItem('Apply','apply.html') }}
                        {{ menuItem('What is this?','what-is-this.html') }} <hr> {{ menuItem('Contact Us','contact.html') }}
                        {{ menuItem('Terms of Use','tou.html') }}
                        {{ menuItem('Copyright','copyright.html') }}
                    </nav>
                </div>
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>